maxClientCnxns=2048
# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
dataDir={{dataDir}}
dataLogDir={{dataLogDir}}
# the port at which the clients will connect
clientPort=2181

minSessionTimeout=60000
maxSessionTimeout=180000
autopurge.snapRetainCount=20
autopurge.purgeInterval=1
#id 每台唯一，zk为主机名
server.{{id}}={{zk}}:2888:3888
